.atLocationHeaderBg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/schools_bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    padding-bottom: 60px;
    padding-top: 80px;
}

.animationBg{
    height: 800px;
    background-color: ;
}

.introImg1{
    position: relative;
    top: 22px;
    left: 0px;
    width: 92%;
}

.introImg2{
    max-height: 200px;
    
}

.secondPaneBg{
    background-image: url("../../images/curvedBg.jpg");
    background-size: cover;
 
    height: aut0;
    padding-bottom: 60px;
    padding-top: 80px;
}

.schoolDescIconBg{
    background-color: #73d56e;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 15px;
    border-radius: 10px;
    width: 260px;
    padding-bottom: 20px;
    padding-top: 30px;
   


}

.iconImg{
    width: 80px;
}

.activeTabBtn{
    background-color: #106A75 !important;
    padding: 12px 40px 12px 40px !important;
    font-size: 16;
    text-transform:none !important;
}

.InactiveTabBtn{
    background-color: #73d56e !important;
    padding: 12px 40px 12px 40px !important;
    font-size: 16;
    text-transform:none !important;
    color: #fff !important;
}


.curvedBg{
  background-color: #FAF4FF;
  padding: 30px;
}

.accordionContainer{
    width:550px
}

.whiteBg{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    

}

.accHeader{
    background-color: #73D56E;
    padding: 15px;
    color:#fff !important;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;

}

.statsContainerAtLocation{
    background-image: url("./../../images/TESTYBG.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    padding-bottom: 100px;
    padding-top: 100px;
}






/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {

    .introImg2 {
        max-height: 200px;
        position: relative;
        top: 76px;
    }



    .schoolDescIconBg {
        background-color: #73d56e;
        box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
        padding: 15px;
        border-radius: 10px;
        width: 200px;
        padding-bottom: 20px;
        padding-top: 30px;
    }

    .accordionContainer {
        width: 435px;
    }


}








    
    /* Small tablet to big tablet: from 768px to 1023px */
    @media only screen and (max-width: 1023px) {
        .introImg2 {
            max-height: 200px;
            position: relative;
            top: 212px;
        }

        .schoolDescIconBg {
            background-color: #73d56e;
            box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
            padding: 15px;
            border-radius: 10px;
            width: 140px;
            padding-bottom: 20px;
            padding-top: 30px;
        }

        .iconImg {
            width: 50px;
        }

        .accordionContainer {
            width: 340px;
        }

        

    }














    
    /* Small phones to small tablets: from 481px to 767px */

    @media only screen and (max-width: 767px) {

        .atLocationHeaderBg{
            background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/schools_bg.jpg");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            height: auto;
            padding-bottom: 0px;
            
           
         
        }


    
        
.introImg2 {
    
       max-height: 223px;
    width: 183px;
    padding-bottom: 40px;
    position: relative;
    top: 8px;
    left: -19px;
}

.introImg1 {
    position: absolute;
    top: 626px;
    left: 129px;
    width: 55%;
}


.schoolDescIconBg {
    background-color: #73d56e;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
    padding: 15px;
    border-radius: 10px;
    width: 315px;
    padding-bottom: 20px;
    padding-top: 30px;
 
}

.secondPaneBg {
    background-image: url("../../images/curvedBg.jpg");
    background-size: cover;
    height: aut0;
    padding-bottom: 60px;
    padding-top: 46px;
    margin-top: -90px;
}


.accordionContainer{
    width:323px ;
}

.curvedBg {
    background-color: #FAF4FF;
    padding: 10px;
}













    }




